.header {
  background-color: mediumturquoise;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px;
  display: flex;
}
.goback {
  color: darkblue;
  text-decoration: none;

  width: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.goback:hover {
  color: aliceblue;
}
.search-form {
  gap: 10px;
  width: 90%;
  display: flex;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
}
input {
  padding: 5px;
  border-radius: 10px;
  border-color: white;
  width: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button {
  padding: 5px;
  border-radius: 10px;
  width: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-color: mediumturquoise;
  background-color: blanchedalmond;
  color: darkblue;
}
.button:hover {
  background-color: rgb(113, 193, 219);
  color: white;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  /*gap: 2%;*/
  /*margin-right: 1px;*/
}
.photo-card:nth-child(4n) {
  margin-right: 0;
}
.info {
  display: flex;
  gap: 2%;
  max-width: 100%;
}
.image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  max-width: 100%;
}
/*.info-value {
  margin-left: 2px;
}*/
