.header {
  background-color: rgb(196, 228, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px;
  display: flex;
}
.goback {
  color: darkblue;
  text-decoration: none;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goback:hover {
  color: aliceblue;
}
.search-form {
  gap: 10px;
  width: 90%;
  display: flex;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
}
input {
  padding: 5px;
  border-radius: 10px;
  border-color: white;
  width: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button {
  padding: 5px;
  border-radius: 10px;
  width: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-color: rgb(196, 228, 255);
  background-color: rgb(255, 228, 196);
  color: rgb(0, 0, 139);
}
.button:hover {
  background-color: rgb(113, 193, 219);
  color: white;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.33%;
}
.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24%;
  margin-right: 1.3333%;
  margin-bottom: 1.333%;
  background-color: rgb(255, 228, 196);
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.photo-card:nth-child(4n) {
  margin-right: 0;
}
.info {
  display: flex;
  justify-content: center;

  max-width: 100%;
}
.paragraf-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
.button-container {
  display: flex;
  justify-content: center;
}
.load-more {
  padding: 5px;
  border-radius: 10px;
  width: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  /* background-color: rgba(255, 85, 73, 0);*/
  background-color: rgb(113, 193, 219);
  color: rgb(250, 250, 250);
  border-color: white;
}
.load-more:hover {
  background-color: rgb(255, 228, 196);
  color: darkblue;
}

@media (min-width: 1200px) {
  .image {
    width: 396px;
    height: 250px;
  }
  .paragraf-info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
  }
  .info {
    gap: 5%;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .image {
    width: 300px;
    height: 200px;
  }
  .paragraf-info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
  }
  .info {
    gap: 3%;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .image {
    width: 250px;
    height: 150px;
  }
  .paragraf-info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    max-width: 90%;
  }
  .info {
    gap: 10%;
    max-width: 30%;
    font-size: x-small;
  }
  .goback {
    font-size: small;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  .image {
    width: 150px;
    height: 80px;
  }
  .paragraf-info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    max-width: 80%;
  }
  .info {
    gap: 10%;
    max-width: 34%;
    font-size: 5px;
  }
  .goback {
    font-size: x-small;
  }
  .button {
    width: 20%;
    font-size: 8px;
  }
  input {
    padding: 2px;

    width: 40%;
  }
}
